<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562441667186-p8modervgqpg7frhlievtfb6s9r8efbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562441667186-p8modervgqpg7frhlievtfb6s9r8efbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562441667186-9qn44sja7jqb35oe8159g2k6g70cso11.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbB1QOGgXw2D_yjD5xZuTxWQQZ6_zTUjE</string>
	<key>GCM_SENDER_ID</key>
	<string>562441667186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinefydriver</string>
	<key>PROJECT_ID</key>
	<string>shinefydriver</string>
	<key>STORAGE_BUCKET</key>
	<string>shinefydriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562441667186:ios:1163590b5353d9991e38eb</string>
</dict>
</plist>